openapi: "3.0.3"
info:
  title: Web Spat API
  version: 0.1.0
servers:
  - url: https://api.web-spat.tetsuzawa.com/v1
    description: Main server
    variables:
      port:
        enum:
          - '443'
        default: '443'
  - url: http://localhost:1991/v1
    description: Dev server
    variables:
      port:
        enum:
          - '1991'
        default: '1991'
paths:
  /ping:
    get:
      operationId: ping
      summary: Returns "OK"
      responses:
        '200':
          description: OK
          content:
            text/plain; charset=UTF-8:
              examples:
                ping:
                  value:
                    "OK"
  /experiment/mddcw:
    get:
      operationId: listExperimentsMDDCW
      summary: Returns a list of experiments.
      description: Returns a list of experiments. The experimet type is Movement Direction Discrimination Constant Width.
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ExperimentsMDDCW'

  /experiment/mddcw/{id}:
    get:
      operationId: getExperimentMDDCWById
      summary: Represents a experiment by specified ID.
      description: Represents a experiment by specified ID. The experimet type is Movement Direction Discrimination Constant Width.
      parameters:
        - name: id
          in: path
          description: Experiment ID
          required: true
          schema:
            type: integer
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ExperimentMDDCW'

  /experiments/mddcw/{id}/results:
    post:
      operationId: registerResultOfExperimentMDDCWById
      summary: Register the result of the specified experiment ID.
      description: Register the result of the specified experiment ID. The experimet type is Movement Direction Discrimination Constant Width.
      parameters:
        - name: id
          in: path
          description: Experiment ID
          required: true
          schema:
            type: integer
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ResultMDDCW'
      responses:
        '201':
          description: Successful operation


components:
  schemas:

    ExperimentsMDDCW:
      description: Experiments for Movement Direction Discrimination Constant Width
      type: array
      items:
        $ref: '#/components/schemas/ExperimentMDDCW'

    ExperimentMDDCW:
      description: Experiment for Movement Direction Discrimination Constant Width
      type: object
      properties:
        id:
          type: integer
          format: int64
        name:
          type: string
          maxLength: 255
        description:
          type: string
          maxLength: 1023
        azimuth:
          type: integer
          minimum: 0
          maximum: 3599
          description: '0[10^-1 deg] is the front, 900[10^-1 deg] is the right side'
          example: 450
        altitude:
          type: integer
          minimum: -900
          maximum: 900
          description: '0[10^-1 deg] is the front, 900[10^-1 deg] is the zenith, -900[10^-1 deg] is the nadir'
          example: 0
        coordinate_variable:
          type: string
          enum:
            - 'azimuth'
            - 'altitude'
        width:
          type: integer
          minimum: 1
          description: 'width of moving sound [10^-1 deg]'
          example: 70
        velocity_range_lower:
          type: integer
          minimum: 1
          example: 50
        velocity_range_upper:
          type: integer
          minimum: 1
          example: 800
        velocity_range_step:
          type: integer
          minimum: 1
          example: 50
        num_trials:
          type: integer
          minimum: 1
          example: 100
        status:
          type: string
          enum:
            - 'active'
            - 'inactive'
      required:
        - id
        - name
        - description
        - azimuth
        - altitude
        - coordinate_variable
        - width
        - velocity_range_lower
        - velocity_range_upper
        - velocity_range_step
        - num_trials
        - status

    ResultMDDCW:
      description: Result of Movement Direction Discrimination Constant Width
      type: object
      properties:
        experiment_id:
          type: integer
          format: int64
        subject:
          $ref: '#/components/schemas/Subject'
        estimated_parameters:
          $ref: '#/components/schemas/EstimatedParameters'
      required:
        - experiment_id
        - subject
        - estimated_parameters


    Subject:
      type: object
      properties:
        sex:
          type: string
          enum:
            - '0'
            - '1'
            - '2'
            - '9'
          description: >
            '0: not known, 1: mail, 2: female, 9: not applicable. ISO 5218'
        age:
          type: integer
          minimum: 0
          maximum: 200
        deaf_and_hearing_impaired:
          type: boolean
          default: false
      required:
        - sex
        - age
        - deaf_and_hearing_impaired

    EstimatedParameters:
      type: object
      properties:
        mean:
          type: number
          format: double
        sd:
          type: number
          format: double
        lower_asymptote:
          type: number
          format: double
        lapse_rate:
          type: number
          format: double
      required:
        - mean
        - sd
        - lower_asymptote
        - lapse_rate